body {
  margin: 0;
}

* {
  user-select: none;
}

img {
  position: absolute;
}

#front, #back {
  position: absolute;
  width: 310px;
  height: 280px;
}

/* Front */
.light, .light img {
  width: 17px;
  height: 17px;
}

.light {
  position: absolute;
  cursor: pointer;
}

.light .light-img-off {
  visibility: visible;
}

.light .light-img-on {
  visibility: hidden;
}

.light-on .light-img-off {
  visibility: hidden;
}

.light-on .light-img-on {
  visibility: visible;
}

/* Turn signals */
.turn-signal, .turn-signal img {
  width: 22px;
  height: 22px;
}

.turn-signal {
  position: absolute;
  top: 47px;
}

#turn-signal-left {
  left: 25px;
}

#turn-signal-right {
  left: 263px;
}

/* Row 1 */
#engine {
  top: 30px;
  left: 58px;
}

#battery {
  top: 25px;
  left: 84px;
}

#brake-warning {
  top: 22px;
  left: 110px;
}

#oil-pressure {
  top: 20px;
  left: 134px;
}

#door-ajar {
  top: 20px;
  left: 159px;
}

#tire-warning {
  top: 22px;
  left: 183px;
}

#traction-control {
  top: 25px;
  left: 209px;
}

#seatbelt {
  top: 30px;
  left: 235px;
}

/* Row 2 */
#headlights {
  top: 55px;
  left: 58px;
}

#headlights img {
  visibility: hidden;
}

#headlights .cycle-current {
  visibility: visible;
}

#windshield {
  top: 50px;
  left: 84px;
}

#defrost-front {
  top: 47px;
  left: 110px;
}

#defrost-rear {
  top: 45px;
  left: 134px;
}

#diesel-glow-plug {
  top: 45px;
  left: 159px;
}

#gas {
  top: 47px;
  left: 183px;
}

#key {
  top: 50px;
  left: 209px;
}

#ac {
  top: 55px;
  left: 235px;
}

#ac img {
  visibility: hidden;
}

#ac .cycle-current {
  visibility: visible;
}

/* Buttons */
.btn, .btn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 310px;
  height: 280px;
}

.btn-img-unpressed {
  visibility: visible;
}

.btn-img-pressed {
  visibility: hidden;
}

.btn-pressed .btn-img-unpressed {
  visibility: hidden;
}

.btn-pressed .btn-img-pressed {
  visibility: visible;
}

.btn-handle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  cursor: pointer;
}

#lock-handle {
  top: 93px;
  left: 22px;
  width: 25px;
  height: 27px;
}

#unlock-handle {
  top: 87px;
  left: 45px;
  width: 25px;
  height: 27px;
}

#hazard-lights-handle {
  top: 89px;
  left: 240px;
  width: 48px;
  height: 28px;
}

/* Wheel */
#wheel {
  position: absolute;
  top: 74.81px;
  left: 54.996px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.wheel-frame {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wheel-active {
  visibility: visible;
}

#horn {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}

/* Back */
#back {
  display: none;
}